

.new{
  // margin-left :10px;
  margin:auto;
  margin-top:10px;
  margin-bottom: 40px;
}
.row{
  padding:15px 5px 15px;
  margin-bottom: 5px;
}
.on{
  // background-color: #87cefa;
}

.off{
  background: #696969;
}

.nokaigyo{
  display: inline;
}
