// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new{
  margin-left :10px;
  margin-top:5px;
  margin-bottom: 40px;
}
.row{
  padding:15px 5px 15px;
  margin-bottom: 5px;
}
.on{
  background-color: #87cefa;
}

.off{
  background: #696969;
}

.nokaigyo{
  display: inline;
}
